@font-face {
  font-family: 'Anton';
  src: url('../fonts/Anton-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Anton-Light.ttf') format('truetype');
}

h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
button,
div {
  font-family: 'Poppins', sans-serif;
  color: $white;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 3rem;
}
