$background: #131e34;
$white: #ffffff;

// font size
$fs-xxs: 0.5rem;
$fs-xs: 0.75rem;
$fs-sm: 0.875rem;
$fs-md: 1rem;
$fs-lg: 1.125rem;
$fs-xl: 1.25rem;
$fs-xxl: 1.5rem;
$fs-xxxl: 2rem;
$fs-big: 3rem;
